.container {
    background: #0341B6;
    border: 1px solid #0341B6;
    border-radius: 5px;
    width: 192px;
    height: 40px;
    position: absolute;
    left: 77.29%;
    right: 9.38%;
    top: 14.63%;
    bottom: 81.33%;
}

.label {
    color: white
}

